html{
    scroll-behavior: smooth;
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
.text{
    font-family: 'Silkscreen', cursive;
}
a{
    color: white;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    cursor: url(../images/cursor.png) 16 16 ,auto;
}
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-track{
    background-color: black;
}
::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 30px;
    
}
::-webkit-scrollbar-button:vertical:increment{
    background-color: green;
}
::-webkit-scrollbar-button:vertical:decrement{
    background-color: blue;
}
::-webkit-scrollbar-thumb:hover{
    background-color: red;    
}
#return{
    display: none; 
    position: fixed; 
    bottom: 20px; 
    left: 30px; 
    background-color: white; 
    cursor: pointer; 
    width: 60px;
    height: 60px;
    z-index: 2;
    border-radius: 30px;
    i{
        position: relative;
        top: 28%;
        left: 38%;
    }
}
.container{
    li{
        list-style-type: square;
    }
    #home{
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url(../images/bg.jpg);
        background-size: contain;
        #nameplate{
            display: flex;
            align-items: center;
            justify-content: center;
            background: url(../images/bg.jpg);
            width: 25.5rem;
            height: 50px;
            border-top-left-radius: 1.25rem;
            position:fixed;
            bottom: 0;
            right: 0;
            p{
                font-size: 1.8rem;
                color: white;
            }
            #underline{
                width: 25.5rem;
                height: 5px;
                background-color: white;
                position: fixed;
                bottom: 0;
                right: 0;
            }
        }
        .parent {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            height: 60vh;
            .lg-font{
                font-size: 2rem;
            }
            .center{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
            .left{
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column; 
                padding-left: 120px;
            }
        }
        .cells{
            border: 1px solid white;
            padding-left: 2rem;
            padding-right: 2rem;
        }
        .div1 { 
            grid-area: 1 / 1 / 2 / 3; 
            color: white;
            border: none;
        }
        .div4 { 
            grid-area: 1 / 3 / 2 / 4; 
            color: white;
            border-bottom: none;
            border-right: none;
            border-top: none;
            }
        .div4:hover,.div5:hover,.div6:hover{
            transition: 0.2s all ease;
            background-color: rgba(255, 255, 255,0.2);
        }
        .div4,.div5,.div6{
            transition: 0.2s all ease;
            background-color: rgba(255, 255, 255,0);
        }
        .div5 { 
            grid-area: 1 / 4 / 2 / 5; 
            color: white;
            border-bottom: none;
            border-right: none;
            border-top: none;
        }
        
        .div6 { 
            grid-area: 1 / 5 / 2 / 6; 
            color: white;
            border-bottom: none;
            border-top: none;
            border-right: none;
        }
        .div2 { 
            grid-area: 2 / 1 / 3 / 3; 
            color: white;
            border-right: none;
            border-left: none;
        }
        .div3 { 
            grid-area: 2 / 3 / 3 / 6; 
            color: white;
            border-left: none;
            border-right: none;
        }
        .div7 { 
            grid-area: 3 / 1 / 6 / 3; 
            color: white;
            border:none;
        }
        .div8 { 
            grid-area: 3 / 3 / 5 / 5; 
            color: white;
            border-top: none;
            border-bottom: none;
        }
        .div9 { 
            grid-area: 3 / 5 / 5 / 6; 
            color: white;
            margin-left: -3rem;
            border: none;
            #email{
                #mail{
                    display: inline;
                }
                #address{
                    display: none;
                }
            }
            #email:hover{
                #mail{
                    display: none;
                }
                #address{
                    display: inline;
                }
            }
        }
        .div10 { 
            grid-area: 5 / 3 / 6 / 5; 
            color: white;
            // background-color: aqua;
        }
        .div11 { 
            grid-area: 5 / 5 / 6 / 6; 
            color: white;
            // background-color: brown;
            border-left: none;
            border-right: none;
        }
    }
}