#experience{
    background: url(../images/bg.jpg);
    height: 100vh;
    width: 100%;
    background-size: contain;
    transform: scaleY(-1);
    display: flex;
    justify-content: center;
    align-items: center;
    .card-container{
        display: flex;
        transform: scaleY(-1);
        width: 100%;
        height: 50%;
        >*{
            width: 800px;
            background-color: whitesmoke;
            margin-right: 3.125rem;
        }
        >*:first-child{
            margin-left: 3.125rem;
        }
        .card-cover,.card-desc{
            width: 100%;
            border: 1px solid red;
        }
        .card{  
            text-align: center;
            background-color: rgba(160, 55, 20, 0.3);
            .card-cover{
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                background-color: black;
                transform: translateY(0px);
                transition: 0.5s transform ease;
                height: 50%;
            }
            .card-desc{
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                background-color: black;
                transform: translateY(0px);
                transition: 0.5s transform ease;
                height: 50%;
            }
            .card-details{
                margin-top: -120%;
                z-index: -1;
                font-size: 1rem;
                color:white;
                font-size: 0.8rem;
                padding: 0rem 1rem;
                text-align: left;
                opacity: 0;
                transition: 0.5s opacity ease;
                li{
                    margin-bottom: .625rem;
                }
            }
        }
        .card:hover{  
            .card-cover{
                transform: translateY(-200px);
                transition: 0.5s transform ease;
            }
            .card-desc{
                transform: translateY(200px);
                transition: 0.5s transform ease;
            }
            .card-details{
                opacity: 1;
                transition: 0.5s opacity ease;
            }
        }
    }
}